{{#if renderInPlace}}
  {{#ember-wormhole
    to=destinationElementId
    renderInPlace=renderInPlace
  }}
    {{#if hasOverlay}}
      {{modal-dialog-overlay
        classNameBindings='overlayClassNamesString translucentOverlay:translucent overlay-class'
        action='clickedOverlay'
      }}
    {{/if}}
  {{/ember-wormhole}}
  {{#ember-modal-dialog-positioned-container
    classNameBindings="containerClassNamesString targetAttachmentClass container-class"
    targetAttachment=targetAttachment
    target=target
    renderInPlace=renderInPlace
  }}
    {{yield}}
  {{/ember-modal-dialog-positioned-container}}
{{else}}
  <div>
    {{#if hasOverlay}}
      {{ember-tether
        click=(action 'clickedOverlay')
        classNameBindings='overlayClassNamesString translucentOverlay:translucent overlay-class'
        target='#viewport'
        targetAttachment='center middle'
        attachment='center middle'
      }}
    {{/if}}
    {{#ember-tether
      classNameBindings="containerClassNamesString parentIdClass container-class"
      target=target
      attachment=attachment
      targetAttachment=targetAttachment
      targetModifier=targetModifier
      classPrefix=tetherClassPrefix
      offset=offset
      targetOffset=targetOffset
      constraints=constraints
    }}
      {{yield}}
    {{/ember-tether}}
  </div>
{{/if}}
